name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest


    steps:
      # get the code
      - name: Checkout code
        uses: actions/checkout@v2

      # setup node.js
      - name: Setup node.js 
        uses: actions/setup-node@v2 
        with:
          node-version: '20'

      # install dependencies
      - name: Install dependencies
        run: npm install

      # run tests
      - name: Run tests
        run: npm test
      